<%= render 'shared/navbar' %>
<div class="bannershow" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://preview.redd.it/7lrno9mmmis21.jpg?width=960&crop=smart&auto=webp&s=c491dffe04b78c3978769acda98f087ae651b0fa);">
  <div class="container">
    <h1> <%= @cocktail.name %> good choice!</h1>
    <p>If you drink, use moderation</p>
    <div class="link">
      <%= link_to "Add doses", new_cocktail_dose_path(@cocktail), class: "multi-button" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-container">
    <img class="card-img" src="https://blog.ubaldi.com/wp-content/uploads/2019/05/cocktails-blender.jpg" alt="Card image">
    <div class="card-img-overlay">
      <h5 class="card-title"><%= @cocktail.name %> recipe</h5>
      <% @cocktail.doses.each do |dose| %>
      <p class="card-text"> <%= dose.description %> of
                            <%= dose.ingredient.name %>
                            <%= link_to "<i class='fas fa-trash' id='trash'></i>".html_safe, dose_path(dose),
                            method: :delete, data: { confirm: "Are you sure?" } %>
      </p>
      <% end %>
    </div>
  </div>
</div>

