<%= render 'shared/navbar' %>
<div class="banneradd" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://preview.redd.it/7lrno9mmmis21.jpg?width=960&crop=smart&auto=webp&s=c491dffe04b78c3978769acda98f087ae651b0fa);">
  <div class="container">
    <h1>Wich dose would you look to add?</h1>
    <br>
    <div class="simple">
    <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.input :description, placeholder: 'Add your dose here' %>
    <%= f.association :ingredient %>
    <%= f.submit 'Add doses', class: "multi-button" %>
    <% end %>
    </div>
  </div>
</div>

